.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    // border: 1px solid red;
    @include tablet {
        max-width: 768px;
}
@include mobile {
    max-width: 480px;
}
@include mini {
    max-width: 320px;
}
}




