// Define breakpoint values
$breakpoint-mobile-start: 320px;
$breakpoint-mini-end: 479px;
$breakpoint-mobile-end: 767px;
$breakpoint-tablet-start: 768px; 
$breakpoint-tablet-end: 1199px;
$breakpoint-desktop: 1200px;

@mixin mini {
    @media screen and (min-width: $breakpoint-mobile-start) and (max-width: $breakpoint-mini-end) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: $breakpoint-mobile-start) and (max-width: $breakpoint-mobile-end) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $breakpoint-tablet-start) and (max-width: $breakpoint-tablet-end) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}
