.card {
    display: flex;
width: 378px;
height: 370px;
padding: 48px 40px;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
background-color: #FFF;
border-radius: 8%;
margin-bottom: 160px;
transition: all 0.3s ease; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
&:hover {
    background-color: #f5f5f5; 
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
}


.card-container {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding-right: 88px;
    @include tablet {
        padding-right: 0;
        gap: 24px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.card_title {
color: var(--black, #111);
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 115%; 
letter-spacing: -1.4px;
}

.card_link {
    color: #1B5B31;
    border-bottom: 1px solid var(--green, #1B5B31);
    display: flex;
padding-bottom: 0px;
align-items: center;
gap: 10px;
}

.card_text {
    color: var(--black, #111);

font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.14px;
}

.card_link svg {
    vertical-align: middle;
   
}

@media (min-width: 480px) and (max-width: 767px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-right: 10px;
        padding-left: 10px;
       
    }
}

@media (min-width: 480px) {
    .card {
        width: 90%;
        padding: 24px 20px;
        margin-bottom: 20px;
    }
    
    .card:last-child {
        margin-bottom: 60px;
    }
}
