.footer {
    background-color: black;
    color: white;  
   
}

.footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 85px;
    @include mobile {
        padding-top: 30px;
    }

}


.footer__row1 {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-left: 210px;
    @include mini {
        flex-direction: column;
    }
    @include mobile {
        padding-left: 30px;
    }
    @include tablet {
        display: flex;
        flex-direction: row;
        padding-left: 60px;
    }


}

.right-section {
    display: flex;              
    align-items: center; 
    gap: 10px; 
    padding-right: 160px;    
    @include mini {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }
    @include mobile {
        padding-right: 40px;
    }   
    @include tablet {
        padding-right: 10px;
    }        
}

.footer__text, .footer__button {
    display: inline-block;   
     margin: 10px 0; 
}

.logo__img {
    max-width: 100%;
    height: auto;
    @include mobile {
        padding-right: 20px;
    }
    @include mini {
        max-width: none;
        padding-right: 150px;

    }
}

.footer__button {
    @include mobile {
        left: 15px;
    }
}

hr {
    width: 1040px;
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;

    @include mobile {
        max-width: 380px;
    }
    @include tablet {
        max-width: 568px;
    }
}

.social__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0;
  }

.social__list-item {
     &:hover {
            color: #ffffff;
            background-color: #006940;
        }
}
.footer__contacts {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
    @include mini {
   
        
    }
}

.fixed-length {
    width: 1040px; 
    
    border-top: 1px solid white; 
    margin: 62px auto; 
        @include mini {
        max-width: 220px;
        margin: 30px auto;

    }
}


.copyright-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 0; 
     @include mini {
        flex-direction: column;
    }
    @include mobile {
     display: flex;
     justify-content: space-between;
     }
     @include tablet {
      justify-content: space-around;
     }
}

.copyright {
    padding-left: 210px;
    padding-bottom: 80px; 
  @include mini {
    padding-left: 0;
    padding-bottom: 20px;
  }
    @include mobile {
        padding-left: 30px;
    }     
    @include tablet {
        padding-left: 0px;
    }
 
}


.author-section {
    display: flex;
    align-items: center; 
    gap: 5px; 
    padding-right: 200px;
    padding-bottom: 80px;   
    @include mini {
        padding-bottom: 10px;
        align-items: normal;
        padding-left: 115px;
        font-size: 15px;
    }
    @include mobile {
        padding-right: 30px;
    }    
    @include tablet {
        padding-right: 0px;
        padding-bottom: 60px;
    }     
}


.footer__row2-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 80px;
    padding-left: 210px;
  
    @include mobile {
        padding-left: 30px;
        flex-wrap: wrap;
         padding-bottom: 20px;
       }
       @include tablet {
        display: flex;
        flex-wrap: wrap;
       }
         @include mini {
    flex-direction: row;
    padding-bottom: 0;
}
}
.social__list {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}




.footer__row2 {
    display: flex;               
    align-items: center;         
    justify-content: space-between; 
    gap: 20px;  
    @include mobile {
     margin-left: 60px;
    }  
     @include mini {
        margin-left: 8px;
        margin-bottom: 10px;
        font-size: 10px;
}
   
            
}

.social__list {
    display: flex;
    gap: 20px; 
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
}

.footer__contacts {
    display: flex;              
    gap: 10px; 
    padding-right: 200px;  
    @include mobile {
       display: flex;
       padding-right: 0px;
       margin-left: 60px;
    } 
    @include mini {
        flex-direction: column;
        margin-left: 45px;
    }
}