.contact-modal-content {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #fff;
    width: 80%;
    max-width: 550px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    
    @include mobile {
        max-width: 80%;
    }
    @include tablet {
        min-width: 80%;
    }
    @include mini {
        max-width: 80%;
    }
}

.contact-modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
}

.contact-modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-modal-content input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-modal-content input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}



