.oferta {
    background-color: #F5F0EC;
    padding-left: 96px;
    @include mobile {
        padding-left: 0px;
    }
    @include tablet {
        padding-left: 0px;
        padding-bottom: 60px;
    }
}

.oferta_title {
    color: var(--black, #111);
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 115%; 
letter-spacing: -1.44px;

padding-bottom: 32px;
padding-left: 96px;
@include mobile {
    padding-left: 30px;
}
@include tablet {
    padding-left: 85px;
}
}

.navi_small {
    padding-top: 120px;
    padding-left: 96px;
    padding-bottom: 16px;
    color: #1B5B31;
    font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.12px;
@include mobile {
    padding-left: 30px;
    padding-top: 60px;
}
@include tablet {
    padding-left: 85px;
}

}
.oferta_description {
    width: 709px;
    padding-bottom: 96px;
    padding-left: 96px;
    @include mobile {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
}
@include tablet {
    padding-left: 85px;
}

}

// @media (max-width: 768px) {
//     .oferta {
//         padding-left: 15px;
//     }

//     .navi_small, .oferta_title, .oferta_description {
//         padding-left: 15px;
//     }
// }

// @media (max-width: 768px) {
//     .oferta_description {
//         width: 100%;
//     }
// }
